@model MST.Net.Models.Kodepos

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kodepos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.kode, "Kodepos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kelurahan, "Kelurahan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kelurahan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kelurahan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kecamatan, "Kecamatan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kecamatan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kecamatan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Jenis Kab.</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="form-control list-box tri-state" id="type_kab" name="type_kab">
                        <option value="true"@ViewBag.KabSelect>Kab.</option>
                        <option value="false"@ViewBag.KotaSelect>Kota</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.type_kab, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kabupaten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kabupaten, "Kabupaten", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kabupaten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.provinsi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.provinsi, "Provinsi", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.provinsi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
